{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
{% endfor %}
<div class="container">
    <h1>Categories</h1>
    <div class="categories">
        {% for category in categories %}
        <a class="category" href="{% url 'product_list' category.id %}">
            <img src="{{ category.image.url }}" alt="">
            <br>
            <p class="category-title">{{ category.name }} →</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}